<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Clientele</h1>
    {% if user.is_authenticated %}
        Hello {{ user.username }} <br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <ul>
        {% for dude in clientele %}
            <li>
                <p>{{ dude }}</p>
                <a href="{% url 'client_update' dude.id %}">Edit</a>
                <a href="{% url 'client_delete' dude.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'client_create' %}">Create New</a>
</body>
</html>